<div id="edit-room-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="editRoomModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button id="edit-room-x" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 id="edit-room-type">Edit Room</h3>
        <h4 id="edit-room-owner">Owned by @user</h4>
      </div>
      <div class="modal-body">
        <p id="edit-room-body">Main body text</p>
        <form id="edit-room-form">
          <fieldset>
            <input type="text" placeholder="Name" id="edit-room-name" style="width:100%">
          </fieldset>
          <fieldset>
            <textarea id="edit-room-text" class="input-xlarge"
                      rows="3" maxlength="2048"
                      placeholder="Private Message..."></textarea>
          </fieldset>
          <fieldset>
            <label>Access: 
            <select id="edit-room-perm" class="input-medium">
              <option value="private">Private</option>
              <option value="public">Public</option>
              <option value="public-read">Public Read</option>
            </select></label>
            <label id="edit-room-perm-label" style="font-weight:normal">Access</label>
          </fieldset>
          <fieldset id="edit-room-promote-wrapper">
            <!-- not displayed until logic added to limit options and injest into raw -->
            <fieldset id="edit-room-promo-options">
              <p><textarea id="edit-room-promo-text" class="input-xlarge" style="width:100%" rows="3" maxlength="256" placeholder="Describe Your Room..."></textarea></p>

              <p><select id="edit-room-categories" multiple>
                <option selected>general</option>
                <option>fun</option>
                <option>lifestyle</option>
                <option>profession</option>
                <option>language</option>
                <option>community</option>
                <option>tech</option>
                <option>event</option>
              </select></p>
            </fieldset>
          </fieldset>
          <div id="edit-room-message-count"></div>
          <div class="row-fluid">
            <div class="span6">
              <div id="edit-room-more-div" style="clear: both;"></div>
            </div>
            <div class="span1">
              <button class="btn btn-success" id="edit-room-more-button"><i class="fa fa-plus" aria-hidden="true"></i></button>
            </div>
          </div>
          <div id="edit-room-error-div"></div>
        </form>
<!--
        <form id="avatar-form">
          <label>Your room avatar is stored in your personal pnut.io file storage. For best results, it should be 1024x80 pixels in size.</label>
          <label class="checkbox">
            <input type="checkbox" id="black-title">Show room name in black</input>
          </label>
          <input id="upload-file" type="file" name="content" size="40">
          <button id="upload-button" class="btn" data-loading-text="Uploading...">Upload Avatar</button>
        </form>
-->
      </div>
      <div class="modal-footer">
        <button id="edit-room-cancel" class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button id="edit-room-save" data-dismiss="modal" data-loading-text="Saving..." class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>
