<li class="message msg<%- id %>" data-message-id="<%- id %>">
  <% if (!is_serial) { %>
  <span class="userTag"><a title="Avatar link for @<%- name %>" href="https://beta.pnut.io/@<%- name %>" target="_blank"><span class="userPic"<% if (avatarUrl) { %> style="background-image: url(<%- avatarUrl %>?w=80)"<% } %>></span></a>&nbsp;<span class="username"><a class="author" href=""><%- name %></a></span></span>&nbsp;
  <% } %><span class="stickyColor stickyPin"<% if (!is_sticky) { %> style="display:none"<% } %> title="Pinned"><i class="fa fa-thumb-tack" aria-hidden="true"></i></span>
  <% if (broadcast) { %><a class="broadcastLink" title="This message was Broadcasted to the Global stream of posts and linked back to this channel." href="<%- broadcast.url %>" target="_blank"><i class="fa fa-globe" aria-hidden="true"></i></a><% } %>
  <span class="postMetaTop">
    <div class="dropdown" style="display: block;">
      <span class="postTimestamp"></span><span class="source"> via <a href="<%- source.link %>" target="_blank"><%- source.name %></a></span>
      <button class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown"><i class="fa fa-caret-down" title="Options" aria-hidden="true"></i></button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownmenu2">
        <% if (can_sticky && !is_sticky) { %>
          <li role="presentation"><a role="menuitem" class="stickyButton" href="#" title="Stick message to the top"><i class="fa fa-thumb-tack" aria-hidden="true"></i> Stick to Top</a></li><% } else if (can_sticky && is_sticky) { %>
          <li role="presentation"><a role="menuitem" class="unstickyButton" href="#" title="Unstick message to the top"><i class="fa fa-thumb-tack" aria-hidden="true"></i> Unstick</a></li>
        <% } %>
        <% if (broadcast) { %>
          <li role="presentation"><a role="menuitem" class="broadcastButton" href="<%- broadcast.url %>" target="_blank" title="This message was Broadcasted to the Global stream of posts and linked back to this channel."><i class="fa fa-globe" aria-hidden="true"></i> Go to Broadcast</a></li>
        <% } %>
        <% if (crosspost) { %>
          <li role="presentation"><a role="menuitem" class="crosspostButton" href="<%- crosspost.canonical_url %>" target="_blank" title="This message was created from a different service."><i class="fa fa-globe" aria-hidden="true"></i> Original URL</a></li>
        <% } %>
        <% if (can_delete) { %>
          <li role="presentation"><a role="menuitem" class="deleteButton" href="#" title="Delete message"><i class="fa fa-trash" aria-hidden="true"></i> Delete</a></li>
        <% } %>
        <% if (can_mute) { %>
          <li role="presentation"><a role="menuitem" class="muteButton" href="#" title="Muting this user will prevent you from seeing their posts."><i class="fa fa-microphone-slash" aria-hidden="true"></i> Mute User</a></li>
        <% } %>
      </ul>
    </div>
  </span>
  <span class="messageContent"><%= body %></span>
  <span class="embedImageWrapper"></span>
</li>
