<li class="message msg<%- id %>" data-message-id="<%- id %>">
  <span class="userTag"><a title="Avatar link for @<%- name %>" href="https://pnut.io/@<%- name %>" target="_blank"><span class="userPic" <% if (avatarUrl !== '') { %>style="background-image: url('<%- avatarUrl %>?w=80')"<% } %>></span></a>&nbsp;<span class="username"><a class="author" href=""><%- name %></a></span></span>&nbsp;<% if (is_sticky) { %><span class="stickyColor stickyButton" title="Pinned"><i class="fa fa-thumb-tack" aria-hidden="true"></i></span><% } %><span class="postMetaTop"><i class="fa fa-caret-up" aria-hidden="true"></i> <span class="postTimestamp"></span></span>
  <span class="messageContent"><%= body %></span>
  <span class="embedImageWrapper"></span>
  <% if (can_delete) { %><p class="postMeta"><a class="deleteButton btn btn-primary" href="" title="Delete"><i class="fa fa-trash" aria-hidden="true"></i></a></p><% } %>
</li>
